* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 77px;
    padding-right: 200px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background: rgb(18, 18, 95);
    z-index: 100;
}

#title {
    display: inline;
    color: white;
}

#search-input {
    float: right;
    padding: 7px;
}

section {
    padding: 20px;
}

.section-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

.section-title::first-letter {
    color: rgb(18, 18, 95);
}

.movie {
    position: relative;
    height: 200px;
    width: 400px;
    display: inline-block;
    overflow: auto;
    margin-right: 35px;
    margin-bottom: 20px;
}

.movie-img {
    float: left;
    height: 100%;
    margin-right: 10px;
}

.movie-info {
    padding: 10px 10px 10px 0;
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
}

.movie-overlay i {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie:hover .movie-overlay {
    opacity: 1;
}

aside {
    background: rgb(35, 35, 156);
    position: fixed;
    right: 0;
    top: 77px;
    width: 200px;
    padding: 20px;
    color: white;
    height: 100%;
}

#aside-title {
    margin-bottom: 10px;
}

ul {
    padding-left: 10px;
}